<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta name="description" content=" You learn about lots of healthy, filling meals and snacks that can help you not only weigh less but also feel your very best
            The most successful weight-loss programs are the ones that combine a good meal plan with the right kind and amount of exercise
            If you are looking to kick start a new weight loss routine or conquer a diet plateau try Dr Oz's new two-week rapid weight-loss plan
             ">
            <meta name="keywords" content=" diet plan meal plan healthy diet bodybuilding weight loss,lose weight muscle gain restaurants healthy products organic products nutrition ">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>Beck becker</title>
        <link rel="shortcut icon" type="image/png" href="/images/becklogo1.png">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,900,800%7CRoboto:400,300,500,700,900%7COswald:400,700,300%7CMontserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css" media="screen">
        <link href="/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/global.css" media="screen">
        <link href="/css/settings.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/css/layers.css" type="text/css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen"> 
        <link rel="stylesheet" type="text/less" href="/css/skin.less" media="screen">
        <link rel="stylesheet" type="text/less" href="/css/register.css" media="screen">
         <!--owl carousal -->
          <!-- Owl Stylesheets -->
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.default.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500" rel="stylesheet">
        

        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <![endif]-->

    </head>
    <body>

    {{> home/home-nav}}

    {{{body}}}

    {{> home/footer}} 

        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/less.js"></script>

    
        

        <!-- revolution Js -->
        <script type="text/javascript" src="/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="/js/jquery.revolution.js"></script>
        <!-- revolution Js-->
        <script type="text/javascript" src="/js/owl.carousel.js"></script>
        <script type="text/javascript" src="/js/site.js"></script>
        <script type="text/javascript" src="/js/diet.js"></script>

        
    </body>
</html>


